.navDiv { /* ナビゲーション全体 */
    padding: 0;
    margin: 0 0 10px 0;
    background-color: #c2e4cb;
    box-shadow: 0px 0px 3px 3px #000C; /* サブメニューの影 */
}
/* ロゴ */
.navIcon {
    margin: 10px 20px;
    width: 48px; /* アイコンのサイズ */
    border-radius: 50%;
    background-color: #FFF;
    padding: 3px;
    vertical-align: middle;
    display: inline-block;
}
/* 格安モバイルWebへようこその文 */
.navTitle {
    display: inline-block;
    vertical-align: middle;
    color: rgb(91, 91, 91);
    font-size: 20px;
}

.navNormal { /* ナビゲーションバーメニューの1要素について */
    width: 20%;
    height: 50px;
    padding: auto 5px;
    margin: 0;
    display: flexbox; /* blockだと文字が上下中央にならない */
    gap: 0px; /* 隣との隙間をなくす */
    transition: 0.3s;
    position: relative;
}
.navNormal:hover {
    background-color: #5cbf79; /* マウスカーソルを上にしたときの色 */
}
.navLink {
    text-align: center; /* ナビゲーションメニューの文字を左右中央に配置 */
    width: 100%;
}
.navLink:hover {
    text-decoration: none; /* マウスを上に載せてもテキストに下線がつかないようにする */
}
.navNormal p {
    color: rgb(91, 91, 91); /* ナビゲーションメニューのフォントカラー */
    margin: 5px;
}
.navNormal:hover a {
    text-decoration: none; /* マウスを上に載せてもテキストに下線がつかないようにする */
}
.navNormal:hover p {
    color: rgb(64, 112, 71); /* ナビゲーションメニューのフォントカラー */
}
.navNormal ol {
    display: block; /* サブメニューを縦にする */
}
.navNormal .navSubMain {
    transform: scaleY(0); /* デフォルトでは非表示の状態にしておく．これを1にするとデザイン変更がしやすくなるッピよ */
    transform-origin: center top; /* 変形を適応する基準をtopにする */
    transition: all 0.3s; /* アニメーション時間[s] */
    box-shadow: 4px 4px 4px 0px #0005; /* サブメニューの影 */
}
.navNormal:hover .navSubMain {
    transform: scaleY(1); /* これで下に降りてくるアニメーションができる */
}
/* サブメニュー全体 */
.navSubMain {
    width: 100%; /* 格安SIMの概要メニューと同じ幅にする */
    position: absolute; /* 下のtop・leftの基準を決める */
    top: 50px; /* ナビゲーションメニューの高さが50だからそれに合わせる．この設定でサブメニューをメナビゲーションメニューの真下に配置できる． */
    left: 0; /* サブメニューの左右は格安SIMの概要メニューに揃える */
    z-index: 2; /* 要素の重なりを制御．0だとカルーセルの下に隠れる 1だとスライダーのボタンの下に隠れた */
}
/* サブメニューの1要素 */
.navSub {
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 100%;
    height: 50px;
    border-top: 2px solid #EED; /* ここのボタン間の線 */
    background-color: #5a8f69;
}
/* サブメニュー要素が選択されたら色を変える */
.navSub:hover {
    background-color: #5cbf79; /* マウスカーソルを上にしたときの色 */
}
/* サブメニュー要素のテキスト */
.navSub p a {
    display: flex;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
}
/* サブメニュー要素のフォント設定 */
.navNormal:hover .navSub p {
    text-align: center;
    color: rgb(255, 255, 255);
}
/* サブメニューにマウスをかざしたときのフォント */
.navSub:hover p {
    text-align: center;
    color: #FFF !important; /* !importantは最優先の意味．これをつけないと色指定がうまくいかない */
}
.navSub:hover a {
    text-decoration: none; /* マウスを上に載せてもテキストに下線がつかないようにする */
    color: #0AAAFF;
}

/* ここからはモバイル向け実装用 */
.navDivMobile { /* ナビゲーション全体 */
    padding: 0;
    margin: 0 0 10px 0;
    background-color: #c2e4cb;
    box-shadow: 0px 0px 3px 3px #000C; /* サブメニューの影 */
    text-align: center;
    display: flex; /* ボタンとアイコンを横並びにする */
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin: 0 8px; /* ハンバーガーメニューボタンの左右余白 */
}
.hamburgerDiv { /* ハンバーガーメニューボタン用の領域 */
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-column: 1;
}
.iconBtnDiv { /* サイトアイコン用の領域 */
    width: 100%;
    display: flex;
    justify-content: center;
    grid-column: 2;
}
.navIconMobile {
    margin: 10px 20px;
    width: 48px; /* アイコンのサイズ */
    border-radius: 50%;
    background-color: #FFF;
    padding: 3px;
}
.hamburger {
    width: 42px;
}