.navDiv { /* ナビゲーション全体 */
    padding: 0;
    margin: 0;
    background-color: #666;
    border-bottom: 3px solid #555;
}
/* ナビゲーションバーのボタンの上部分 */
.navHead {
    display: flex;
}
/* ロゴ */
.navIcon {
    margin: 5px 10px;
    width: 48px; /* アイコンのサイズ */
    display: flex;
}
/* ようこその文 */
.navTitle {
    color: #FFF;
}
.navMain {
    padding: 0;
}

.navNormal { /* ナビゲーションバーメニューの1要素について */
    width: 20%;
    height: 50px;
    padding: auto 5px;
    margin: 0;
    display: flexbox; /* blockだと文字が上下中央にならない */
    gap: 0px; /* 隣との隙間をなくす */
    transition: .3s;
    position: relative;
}
.navNormal:hover {
    background-color: #43c3ac; /* マウスカーソルを上にしたときの色 */
}
.navLink {
    text-align: center; /* ナビゲーションメニューの文字を左右中央に配置 */
    width: 100%;
}
.navLink:hover {
    text-decoration: none; /* マウスを上に載せてもテキストに下線がつかないようにする */
}
.navNormal p {
    color: white; /* ナビゲーションメニューのフォントカラー */
    margin: 5px;
}
.navNormal:hover a {
    text-decoration: none; /* マウスを上に載せてもテキストに下線がつかないようにする */
}
.navNormal ol {
    display: block;
    box-shadow: 4px 4px 4px 0px #0005; /* サブメニューの影 */
    transform: scaleY(0);/* デフォルトでは非表示の状態にしておく．これを1にするとデザイン変更がしやすくなるッピよ */
    transform-origin: center top;/* 変形を適応する基準をtopにする */
    transition: all 0.3s;/* アニメーション時間[s] */
}
.navNormal:hover ol {
    transform: scaleY(1); /* これで下に降りてくるアニメーションができる */
}
/* サブメニュー全体 */
.navSubMain {
    width: 100%; /* 格安SIMの概要メニューと同じ幅にする */
    position: absolute; /* 下のtop・leftの基準を決める */
    top: 50px; /* ナビゲーションメニューの高さが50だからそれに合わせる．この設定でサブメニューをメナビゲーションメニューの真下に配置できる． */
    left: 0; /* サブメニューの左右は格安SIMの概要メニューに揃える */
    z-index: 1; /* 要素の重なりを制御．0だとカルーセルの下に隠れる */
}
/* サブメニューの1要素 */
.navSub {
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 100%;
    height: 50px;
    border-top: 2px solid #FFF;
    background-color: #2c7d6e;
}
/* サブメニュー要素が選択されたら色を変える */
.navSub:hover {
    background-color: #43c3ac;
}
/* サブメニュー要素のテキスト */
.navSub a {   /* ※B */
    margin: 3px;
    display: flex;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
}
.navSub:hover a {
    text-decoration: none; /* マウスを上に載せてもテキストに下線がつかないようにする */
}